/* CSS declarations go here */

.page-title {
    font-size: 4em;
}
.top-nav {
    background-color: lightseagreen;
    padding-top: 30px;
    min-height: 100px;
}
h2 { color: teal }
h3 { color: teal }
h4 { color: teal }

.disabled {
    color: gray;
    font-style: italic;
}
