
<template name="input_string">
    {{#if writable}}
    <input placeholder="Type in a {{type}} for &laquo;{{name}}&raquo;" class="formData {{type}}" type="text" id="formData_{{id}}" data-property-name="{{name}}" data-property-id="{{id}}" value="{{value}}"/>
    {{else}}
    <div class="section">
        <i class="disabled">{{#if value}}{{value}}{{else}}{ empty }{{/if}}</i>
        <hr />
    </div>
    {{/if}}
</template>

<template name="input_date">
    <div class="section">
        {{#if writable}}
        <input placeholder="Pick a {{type}} for &laquo;{{name}}&raquo;"  style="border: 0px; width:100%" class="formData datepicker {{#if required}}required{{/if}} {{type}}" id="formData_{{id}}" data-property-name="{{name}}" data-property-id="{{id}}" value="{{value}}"/>
        {{else}}
        <i class="disabled">{{#if value}}{{value}}{{else}}{ empty }{{/if}}</i>
        {{/if}}
        <hr />
    </div>
</template>

<template name="input_enum">
    <div class="section" style="width: 100%">
        <select class="formData {{type}} browser-default {{#if required}}required{{/if}}" id="formData_{{id}}" data-property-name="{{name}}" data-property-id="{{id}}" >
            <option value="" disabled selected>Choose your option</option>
            {{#each enumValues}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
</template>

<template name="input_other">
    <div class="section disabled">
        {{type}}: {{#if value}}{{value}}{{else}}{ empty }{{/if}}
        <hr />
    </div>
</template>

<template name="input_json">
    <div class="section disabled">
        generic json - {{#if data}}{{data.jsonType}}{{else}}{ empty }{{/if}}
        <hr />
    </div>
</template>

<template name="input_weird">
    <blockquote>
        {{#if data}}
            <ul>
                <li>
                    <label>JSON representation</label><input data-property-name="{{name}}" data-property-id="{{id}}" id="form_{{id}}" disabled="true" class=" {{#if required}}required{{/if}} disabled formData json" type="text" value="{{serialize this.data}}" />
                    <label>field &laquo;jsonType&raquo;</label><input data-field="{{id}}" data-ref="jsonType" class="weird" type="text" placeholder="data.jsonType" value="{{data.jsonType}}" />
                    <label>field &laquo;data&raquo;</label><input data-field="{{id}}" data-ref="data" class="weird" type="text" placeholder="data.data" value="{{data.data}}" /></li>
            </ul>
        {{else}}
            { empty weird object }
        {{/if}}
    </blockquote>
</template>
