<template name="inboxWidget">
    {{#if taskList.tasks.total}}
    <label>Inbox</label>
    <ul class="collapsible popout" aaaadata-collapsible="collapsible" style="margin-left: -50px; margin-right: -50px">
        {{#each taskList.tasks.data}}
        <li>
            <div class="collapsible-header open" data-task-id="{{id}}">
                <i class="mdi-image-filter-drama"></i>
                <div class="row">
                    <div class="col">{{createTime}}</div>
                    <div class="col">
                        <a style="color:black; font-weight: bold;" href="#form">{{name}}</a>
                    </div>
                    <div class="col right">#{{id}}</div>
                    <div class="col right">{{owner}}</div>
                    <div class="col right">{{assignee}}</div>
                </div>
            </div>
            <div class="collapsible-body" style="background-color: white;"><span style="display:block;" class="check-visibility" data-task-id="{{id}}"></span><p id="form_{{id}}">{{> innerFormWidget this}}</p></div>
        </li>
        {{/each}}
    </ul>

    <ul class="pagination">
        <li data-page="{{previousPage}}" class="page {{#if previousPage}}waves-effect{{else}}disabled{{/if}} previous-page"><a data-page="{{previousPage}}" class="page" href="#!"><i data-page="{{previousPage}}" class="mdi-navigation-chevron-left"></i></a></li>
        {{#each pages}}
            <li data-page="{{this}}" class="page {{#if active this}}active{{else}}waves-effect{{/if}}"><a class="page" data-page="{{this}}" href="#page{{this}}">{{this}}</a></li>
        {{/each}}
        <li data-page="{{nextPage}}" class="page {{#if nextPage}}waves-effect{{else}}disabled{{/if}} next-page"><a data-page="{{nextPage}}" class="page" href="#!"><i data-page="{{nextPage}}" class="mdi-navigation-chevron-right"></i></a></li>
    </ul>

    <br clear="left"/>
    {{/if}}
</template>
